<!DOCTYPE html>
<head>
    <title>LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('navbar.ejs', { currentPage: '' }) %>
    <div class="container my-5">
            <div class="w-2/4">
              <div class="text-center mt-8 mb-5">
                  <h2 class="font-extrabold relative mb-4" style="font-size: 28px; color: rgb(0, 0, 255);">FAQ</h2>
                  <div class="w-16 h-1 bg-blue-900 mx-auto" style="background-color: rgb(0, 0, 255);"></div>
              </div>
          </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Quels sont les domaines d'expertise de votre start up ?</h5>
                            <p class="text-lg">LMS INVENTION est spécialisée dans les domaines de l'ingénierie, de la digitalisation et de l'Industrie 4.0. Nous offrons une large gamme de services, y compris l'automatisation, la gestion de l'énergie, l'optimisation des processus, la réalité augmentée, l'intelligence artificielle et la transformation numérique des entreprises.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Comment puis-je postuler pour un stage chez LMS INVENTION ?</h5>
                            <p class="text-lg">Pour postuler à un stage chez LMS INVENTION, veuillez consulter notre page dédiée aux offres de stage. Vous y trouverez des informations sur les opportunités de stage actuelles, les critères de candidature et les modalités de candidature. Suivez les instructions de candidature fournies pour soumettre votre candidature.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Pouvez-vous expliquer en quoi consistent vos formations ?</h5>
                            <p class="text-lg">Nos formations visent à renforcer les compétences et les connaissances dans les domaines de l'ingénierie, de la digitalisation et de l'Industrie 4.0. Nous proposons des programmes de formation personnalisés qui couvrent des sujets tels que la gestion de projet, la maintenance prédictive, la réalité augmentée, l'analyse de données avancée et bien plus encore. Ces formations sont conçues pour améliorer les compétences des professionnels et des entreprises.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Comment puis-je contacter votre service client ?</h5>
                            <p class="text-lg">Pour contacter notre service client, veuillez envoyer un e-mail à <a href="mailto:info@lms-invention.com">info@lms-invention.com</a>. Nous sommes là pour répondre à vos questions, traiter vos préoccupations et vous fournir l'assistance dont vous avez besoin. Vous pouvez également utiliser notre formulaire de contact sur notre site web.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Quelles sont les dernières tendances de l'industrie 4.0 ?</h5>
                            <p class="text-lg">L'Industrie 4.0 est en constante évolution, mais quelques-unes des tendances actuelles comprennent l'Internet des Objets (IoT), la cybersécurité industrielle, la fabrication additive (impression 3D), la connectivité 5G, la maintenance prédictive, l'automatisation robotique, l'intelligence artificielle et la chaîne d'approvisionnement numérique. Ces tendances transforment l'industrie en rendant les opérations plus intelligentes et plus connectées.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Quelles sont les industries que vous servez ?</h5>
                            <p class="text-lg">LMS INVENTION travaille avec une large gamme d'industries, notamment la fabrication, l'énergie, les transports, l'aérospatiale, l'automobile, la santé, la logistique, la technologie et bien d'autres. Notre expertise en ingénierie, en digitalisation et en Industrie 4.0 peut être adaptée à de nombreux secteurs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Pouvez-vous expliquer en quoi consistent les solutions d'automatisation que vous offrez ?</h5>
                            <p class="text-lg"> Nos solutions d'automatisation visent à optimiser les processus en utilisant des technologies telles que la robotique, l'automatisation des flux de travail, les systèmes de contrôle et d'acquisition de données (SCADA) pour accroître l'efficacité, réduire les coûts et minimiser les erreurs. Elles sont conçues sur mesure pour répondre aux besoins de chaque client.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Quelle est la différence entre la digitalisation et l'Industrie 4.0 ?</h5>
                            <p class="text-lg">La digitalisation est le processus de conversion de l'information sous forme numérique, tandis que l'Industrie 4.0 est une vision plus large de la transformation numérique des opérations industrielles. L'Industrie 4.0 intègre des technologies comme l'Internet des Objets, l'intelligence artificielle et la réalité augmentée pour créer des usines intelligentes et interconnectées.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Pouvez-vous expliquer en quoi consiste la maintenance prédictive ?</h5>
                            <p class="text-lg"> La maintenance prédictive est une approche basée sur la collecte de données en temps réel pour anticiper les pannes de machines et d'équipements. Elle permet de planifier la maintenance de manière proactive, ce qui réduit les temps d'arrêt non planifiés et les coûts de réparation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Offrez-vous des services de consultation en transformation numérique ?</h5>
                            <p class="text-lg">Oui, nous offrons des services de consultation en transformation numérique pour aider les entreprises à élaborer des stratégies, à mettre en œuvre des technologies innovantes et à numériser leurs opérations. Nous travaillons en étroite collaboration avec nos clients pour créer des plans de transformation personnalisés.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card" style="min-height: 300px;">
                    <div class="d-flex">
                        <div class="ml-4">
                            <h5 class="text-xl font-weight-bold">Quelle est votre approche en matière de durabilité environnementale ?</h5>
                            <p class="text-lg">LMS INVENTION s'engage à réduire son empreinte environnementale. Nous cherchons à minimiser les déchets, à utiliser des sources d'énergie renouvelable et à promouvoir des pratiques durables dans tous les aspects de nos opérations. Nous croyons en la responsabilité environnementale et en la protection de la planète.</p>
                        </div>
                    </div>
                </div>
            </div>

            


            <!-- Répétez cette structure pour chaque question et réponse du FAQ -->
            
        </div>
    </div>

    <style>
        /* Styles pour l'en-tête */
        h1 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: blue;
            margin-bottom: 20px;
        }

        /* Styles pour chaque élément FAQ */
        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }

        .card h5 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        /* Styles pour les éléments FAQ au survol */
        .card:hover {
            background-color: #f0f0f0;
            transform: translateY(-5px);
            transition: background-color 0.3s ease-in-out, transform 0.2s;
        }
    </style>
</body>
<%- include('footer.ejs') %>