<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

<footer class="footer-39201 animate-element" data-animation="fadeInUp" style="background-color: #000000;color: #ffffff;">
    <div class="container">
    <div class="row">
    <div class="col-md mb-4 mb-md-0 animate-element" data-animation="fadeInUp" style="animation-duration: 0.3s;">
    <h3  style="color: white;">A propos</h3>
    <ul class="list-unstyled nav-links">
        <li><a href="/opportunite" class="hover:text-gray-300 transition-colors duration-300 ease-in-out">Carrière</a></li>
        <li><a href="/partenaires" class="hover:text-gray-300 transition-colors duration-300 ease-in-out">Partenaires</a></li>
        <li><a href="/faq" class="hover:text-gray-300 transition-colors duration-300 ease-in-out">FAQ</a></li>
        <li><a href="/actualites" class="hover:text-gray-300 transition-colors duration-300 ease-in-out">Blog</a></li>
        <li><a href="/quisommesnous" class="hover:text-gray-300 transition-colors duration-300 ease-in-out">À Propos</a></li>
    </ul>
    </div>
    <div class="col-md mb-4 mb-md-0 animate-element" data-animation="fadeInUp" style="animation-duration: 1.3s;">
    <h3 style="color: white;">Légal</h3>
    <ul class="list-unstyled nav-links">
    <li><a href="/term" class="hover:text-gray-300 transition-colors duration-300 ease-in-out text-[grey]">Termes et conditions</a></li>
    <li><a href="/politique_confidentialite">Politique de confidentialité</a></li>
    <li><a href="/mentions_legales">Mentions legales</a></li>
    </ul>
    </div>
    <div class="col-md-4 mb-4 mb-md-0 animate-element" data-animation="fadeInUp" style="animation-duration: 0.6s;">
    <h3 style="color: white;">Newsletter</h3>
    <p class="mb-4">Abonnez-vous pour ne rater aucun de nos actualités.</p>
    <form action="/newsletter" method="post" class="subscribe">
    <input type="text" class="form-control" name="email" placeholder="Entrez votre e-mail">
    <input type="submit" class="btn btn-submit" style="background-color: blue;" value="Envoyer">
    </form>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-12">
    <div class="border-top my-5"></div>
    </div>
    <div class="col-md-6" style="text-align: center;">
    <p style="text-align: center;font-size: 20px;"><small>© 2023 Tous droits s. LMS INVENTION</small></p>
    </div>
    <div class="col-md-6 text-md-right animate-element" data-animation="fadeInUp" style="animation-duration: 0.8s;">
    <ul class="social list-unstyled">
    <li><a href="#"><span class="icon-facebook"></span></a></li>
    <li><a href="#"><span class="icon-twitter"></span></a></li>
    <li><a href="#"><span class="icon-pinterest"></span></a></li>
    <li><a href="#"><span class="icon-instagram"></span></a></li>
    <li><a href="#"><span class="icon-behance"></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </footer>

<style>
    body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }




.content {
  height: 70vh; }

.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d; }
  .footer-39201 .subscribe {
    position: relative; }
    .footer-39201 .subscribe .form-control {
      background-color: #e6e6e6;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 30px;
      height: 50px;
      padding-left: 30px;
      padding-right: 130px;
      border: none; }
      .footer-39201 .subscribe .form-control::-webkit-input-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
      .footer-39201 .subscribe .form-control::-moz-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
      .footer-39201 .subscribe .form-control:-ms-input-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
      .footer-39201 .subscribe .form-control:-moz-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px; }
    .footer-39201 .subscribe .btn-submit {
      background: #614ad3;
      height: 40px;
      border-radius: 30px;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .footer-39201 h3 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px; }
  .footer-39201 .nav-links li {
    display: block;
    margin-bottom: 10px; }
    .footer-39201 .nav-links li a {
      color: #9d9d9d; }
      .footer-39201 .nav-links li a:hover {
        color: #614ad3; }
  .footer-39201 .social li {
    display: inline-block; }
    .footer-39201 .social li a {
      display: inline-block;
      padding: 10px;
      color: #9d9d9d; }
      .footer-39201 .social li a:hover {
        color: #614ad3; }

</style>