<!DOCTYPE html>
<head>
    <title>LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<%- include('navbar.ejs', { currentPage: '' }) %>
<section id="confident" class="section py-5 bg-white">
    <div class="container">
    <h1 style="text-align: center;font-weight: bold;">Termes et Conditions</h1><br><br>
    <div class="row-cols-1">
    <h2>1. Definitions</h2><br>
    <p><span style="font-weight: bold;">Client:</span> any professional or natural person capable within the meaning of articles 1123 and following of the Civil Code, or legal person, who visits the Site subject to these general conditions.<br>
        Benefits and Services: https://www.lms-invention.com/ provides Customers<br>
        <span style="font-weight: bold;">Content:</span> All the elements constituting the information present on the Site, in particular texts – images – videos.<br>
        <span style="font-weight: bold;">Customer Information:</span> Hereinafter referred to as "Information(s)" which correspond to all the personal data likely to be held by https://www.lms-invention.com/ for the management of your account, the management of the customer relationship and for the purposes of analysis and statistics.<br>
        User: Internet user connecting, using the above-named site.<br>
        <span style="font-weight: bold;">Personal information:</span> "Information which allows, in any form whatsoever, directly or indirectly, the identification of the natural persons to whom it applies" (article 4 of law no. 78-17 of January 6, 1978).<br>
        The terms “personal data”, “person concerned”, “subcontractor” and “sensitive data” have the meaning defined by the General Data Protection Regulations (RGPD: n° 2016-679)</p>

    <h2>2. Presentation of the website.</h2><br>

    <p>
        Under article 6 of law n° 2004-575 of June 21, 2004 on confidence in the digital economy, users of the website https://www.lms-invention.com/ the identity of the various stakeholders in the context of its realization and its follow-up:<br>
        <span style="font-weight: bold;">Owner:</span> SARL SLOWLY BUT SURELY – MARJANE 2, MEKNES MOROCCO 50000 MEKNES<br>
            <span style="font-weight: bold;">Publication Manager:</span>  ZAKARIA SANKARA – contact@lentement-mais-surement.com<br>
            The publication manager is a natural person or a legal person.<br>
            <span style="font-weight: bold;">Webmaster:</span>  ZAKARIA SANKARA – contact@lentement-mais-surement.com<br>
            <span style="font-weight: bold;">Host: o2switch – Chemin des Pardiaux, 63000 Clermont-Ferrand, France 63000 Clermont-Ferrand +33 4 44 44 60 40<br>
            <span style="font-weight: bold;">Data Protection Officer:</span>  ZAKARIA SANKARA – contact@lentement-mais-surement.com<br>
            <span style="font-weight: bold;">This model of legal notices is proposed by the free generator of legal notices for a website<br>
    </p>

    <h2>3. General conditions of use of the site and the services offered.</h2><br>
    <p>
        The Site constitutes an intellectual work protected by the provisions of the Intellectual Property Code and applicable International Regulations. The Customer may not in any way reuse, transfer or exploit for his own account all or part of the elements or works of the Site.
The use of the site https://www.lms-invention.com/ implies full acceptance of the general conditions of use described below. These terms of use may be modified or supplemented at any time, users of the site https://www.lms-invention. com/ are therefore invited to consult them on a regular basis.
This website is normally accessible to users at any time. An interruption due to technical maintenance may however be decided by https://www.lms-invention.com/, which will then endeavor to communicate to users beforehand the dates and times of the intervention. The website https://www.lms-invention.com/ is updated regularly by https://www.lms-invention.com/ responsible. In the same way, the legal notices can be modified at any time: they nevertheless impose themselves on the user who is invited to refer to them as often as possible in order to become acquainted with them.
    </p>


    <h2>4. Description of the services provided.</h2><br>
    <p>The purpose of the website https://www.lms-invention.com/ is to provide information concerning the all of the company's activities. https://www.lms-invention.com/ strives to provide on the site https://www.lms-invention.com/ information that is as precise as possible. However, it cannot be held responsible for omissions, inaccuracies and deficiencies in the update, whether by itself or by the third party partners who provide it with this information.
        All the information indicated on the site https://www.lms-invention.com/ is given for information only , and are subject to change. Furthermore, the information on the site https://www.lms-invention.com/ is not exhaustive. They are given subject to modifications having been made since they were put online.</p>

    <h2>5. Contractual limitations on technical data.</h2><br>
    <p>
        The site uses JavaScript technology. The website cannot be held responsible for material damage related to the use of the site. In addition, the user of the site agrees to access the site using recent equipment, not containing viruses and with an updated latest generation browser. The site https://www.lms-invention.com/ is hosted by a service provider in the territory of the European Union in accordance with the provisions of the General Data Protection Regulation (RGPD: n° 2016-679)
The objective is to provide a service that ensures the best accessibility rate. The host ensures the continuity of its service 24 hours a day, every day of the year. It nevertheless reserves the right to interrupt the hosting service for the shortest possible durations, in particular for the purposes of maintenance, improvement of its infrastructures, failure of its infrastructures or if the Services and Services generate deemed traffic. abnormal.
https://www.lms-invention.com/ and the host cannot be held responsible in the event of malfunction of the Internet network, telephone lines or computer and telephony equipment linked in particular to network congestion preventing access to the server.
    </p>

    <h2>6. Intellectual Property and Counterfeits.</h2><br>
    <p>https://www.lms-invention.com/ is the owner of the intellectual property rights and holds the rights to use on all the elements accessible on the website, in particular texts, images, graphics, logos, videos, icons and sounds. Any reproduction, representation, modification, publication, adaptation of all or part of the elements of the site, whatever the means or process used, is prohibited, except with the prior written authorization of: https://www.lms-invention.com/.
        Any unauthorized use of the site or any of the elements it contains will be considered as constituting an infringement and prosecuted in accordance with the provisions of articles L.335-2 and following of the Intellectual Property Code.</p>
    <h2>6.Limitation of Liability.</h2>
    <p>
        https://www.lms-invention.com/ acts as the publisher of the site. https://www.lms-invention.com/ is responsible for the quality and veracity of the Content it publishes .
https://www.lms-invention.com/ cannot be held liable for direct and indirect damage caused to the user's equipment, when accessing the website https://www.lms-invention.com/, and resulting either from the use of equipment that does not meet the specifications indicated in point 4, or from the appearance of a bug or an incompatibility.
https://www.lms-invention.com/ cannot also be held liable for consequential damages (such as example a loss of market or loss of opportunity) resulting from the use of the site https://www.lms-invention. com/. Interactive spaces (possibility to ask questions in the contact space) are available to users. https://www.lms-invention.com/ reserves the right to delete, without prior notice, any content deposited in this space which would contravene the legislation applicable in France, in particular the provisions relating to data protection. If necessary, https://www.lms-invention.com/ also reserves the right to question the responsibility civil and/or criminal liability of the user, in particular in the event of a racist, offensive, defamatory or pornographic message, regardless of the medium used (text, photograph, etc.).
    </p>
    <h2>7. Management of personal data.</h2>
    <p>The Customer is informed of the regulations concerning marketing communication, the law of June 21, 2014 for confidence in the Digital Economy, the Data Protection Act of August 06, 2004 as well as the General Data Protection Regulations (RGPD : No. 2016-679).</p>

    <h3>7.1. Persons responsible for collecting personal data</h3>
    <p>
        For the Personal Data collected as part of the creation of the User's personal account and its navigation on the Site, the person responsible for processing Personal Data is: LENTEMENT MAIS SUREMENT. https://www.lms-invention.com/is represented by ZAKARIA SANKARA, its legal representative
As responsible for processing the data it collects, https://www.lms-invention.com/ undertakes to respect the framework of the legal provisions in force. In particular, it is up to the Customer to establish the purposes of its data processing, to provide its prospects and customers, from the collection of their consents, with complete information on the processing of their personal data and to maintain a register of treatments consistent with reality. Whenever https://www.lms-invention.com/ processes Personal Data, https://www.lms-invention.com/ takes all reasonable measures to ensure the accuracy and relevance of Personal Data with regard to the purposes for which https://www.lms-invention.com/ processes them.
    </p>
    <h3>7.2. Purpose of the data collected</h3>
    <p>
        https://www.lms-invention.com/ may process all or part of the data:
to allow navigation on the Site and the management and traceability of the services ordered by the user: connection and use data for the Site, invoicing, order history, etc.
to prevent and fight against computer fraud (spamming, hacking, etc.): computer equipment used for browsing, IP address, password (hashed)
to improve navigation on the Site: connection and usage data
to conduct optional satisfaction surveys on https://www.lms-invention.com/: email address < /li>
to carry out communication campaigns (sms, email): telephone number, email address
https://www.lms-invention.com/ does not market your personal data which is therefore only used by necessity or for statistical and analytical purposes.
    </p>
    <h3>7.3. Right of access, rectification and opposition</h3>
    <p>
        In accordance with current European regulations, Users of https://www.lms-invention.com/ have the following rights :
right of access (article 15 GDPR) and rectification (article 16 GDPR), updating, completeness of User data right of blocking or deletion of personal User data (article 17 of the GDPR), when they are inaccurate, incomplete, ambiguous, outdated, or whose collection, use, communication or storage is prohibited
right to withdraw consent at any time (article 13-2c GDPR)
right to limit the processing of User data (Article 18 GDPR)
right to oppose the processing of User data (article 21 GDPR)
right to the portability of data that Users have provided, when this data is subject to automated processing based on their consent or on a contract (article 20 GDPR)
right to define the fate of User data after their death and to choose to whom https://www.lms-invention.com / will have to communicate (or not) their data to a third party that they will have previously designated
As soon as https://www.lms-invention.com/ becomes aware of the death of a User and in the absence of instructions from him, https://www.lms-invention.com/ undertakes to destroy his data , unless their retention is necessary for evidential purposes or to meet a legal obligation.
If the User wishes to know how https://www.lms-invention.com/ uses his Personal Data, request to rectify them or oppose their processing, the User may contact https://www.lms-invention.com/ in writing to the following address:
SLOWLY BUT SURELY – DPO, ZAKARIA SANKARA
MARJANE 2, MEKNES MOROCCO 50000 MEKNES.
In this case, the User must indicate the Personal Data that he would like https://www.lms-invention.com / corrects, updates or deletes, identifying himself precisely with a copy of an identity document (identity card or passport).
Requests to delete Personal Data will be subject to the obligations imposed on https://www.lms-invention.com/ by law, in particular with regard to the conservation or archiving of documents. Finally, Users of https://www.lms-invention.com/ may file a complaint with the supervisory authorities, and in particular from the CNIL (https://www.cnil.fr/fr/plaintes).
    </p>
    <h3>Non-disclosure of personal data</h3>
    <p>
        https://www.lms-invention.com/ is prohibited from processing, hosting or transferring the Information collected on its Customers to a country located outside the European Union or recognized as "unsuitable" by the European Commission without informing the customer in advance. However, https://www.lms-invention.com/ remains free to choose its technical and commercial subcontractors provided that it presents sufficient guarantees with regard to the requirements of the General Regulations on Data Protection (RGPD: n° 2016-679).
https://www.lms-invention.com/ undertakes to take all necessary precautions to preserve the security of Information and in particular that it is not communicated to unauthorized persons. However, if an incident affecting the integrity or confidentiality of Customer Information is brought to the attention of https://www.lms-invention .com/, the latter must inform the Customer as soon as possible and inform him of the corrective measures taken. Furthermore https://www.lms-invention.com/ does not collect any "sensitive data".
The User's Personal Data may be processed by subsidiaries of https://www.lms-invention.com/ and subcontractors (service providers), exclusively in order to achieve the purposes of this policy.
Within the limits of their respective attributions and for the purposes mentioned above, the main persons likely to have access to the data of the Users of https: //www.lms-invention.com/ are primarily our customer service agents.
    </p>
    <h2>8. Incident notification</h2>
    <p>
        No matter how hard you try, no method of transmission over the Internet, and no method of electronic storage, is completely secure. We cannot therefore guarantee absolute security. If we become aware of a security breach, we will notify affected users so that they can take appropriate action. Our incident notification procedures take into account our legal obligations, whether at national or European level. We are committed to fully informing our clients of all matters relating to the security of their account and to providing them with all the information necessary to help them meet their own regulatory reporting obligations.
No personal information of the user of the site https://www.lms-invention.com/ is published to the without the knowledge of the user, exchanged, transferred, assigned or sold on any medium whatsoever to third parties. Only the hypothesis of the purchase of https://www.lms-invention.com/ and its rights would allow the transmission of provide information to the prospective purchaser who would in turn be bound by the same obligation to store and modify data with respect to the user of the site https://www.lms-invention.com/.
    </p>
    <h3>Security</h3>
    <p>
        To ensure the security and confidentiality of Personal Data and Personal Health Data, https://www.lms-invention.com/ uses networks protected by standard devices such as firewalls, pseudonymization, encryption and passwords.
When processing Personal Data, https://www.lms-invention.com/ takes all reasonable measures to protect against loss, misuse, unauthorized access, disclosure, alteration or destruction.
    </p>
    <h2>9. Hypertext links “cookies” and internet tags (“tags”)</h2>
    <p>
        The site https://www.lms-invention.com/ contains a number of hypertext links to other sites, set up with permission from https://www.lms-invention.com/. However, https://www.lms-invention.com/ does not have the possibility of verifying the content of the sites as well visited, and therefore assumes no liability for this fact.
Unless you decide to disable cookies, you agree that the site can use them. You can deactivate these cookies at any time and free of charge using the deactivation options offered to you and recalled below, knowing that this may reduce or prevent accessibility to all or part of the Services offered by the site.
    </p>
    <h3>9.1. “COOKIES”</h3>
    <p>
        A "cookie" is a small information file sent to the User's browser and saved on the User's terminal (eg computer, smartphone), (hereinafter "Cookies"). This file includes information such as the User's domain name, the User's Internet access provider, the User's operating system, as well as the date and time of access. Cookies do not in any way risk damaging the User's terminal.
https://www.lms-invention.com/ is likely to process the information of the User concerning his visit to the Site , such as pages viewed, searches performed. This information allows https://www.lms-invention.com/ to improve the content of the Site, navigation of the User.
Cookies facilitating navigation and/or the provision of the services offered by the Site, the User can configure his browser to allow him to decide whether or not he wishes to accept them so that Cookies are saved in the terminal or, on the contrary, that they are rejected, either systematically or according to their issuer. The User can also configure his browser software so that the acceptance or refusal of Cookies is offered to him from time to time, before a Cookie is likely to be saved in his terminal. https://www.lms-invention.com/ informs the User that, in this case, the features of its browser software are not all available.
If the User refuses the registration of Cookies in his terminal or his browser, or if the User deletes those which are registered there, the User is informed that his navigation and his experience on the Site may be limited. This could also be the case when https://www.lms-invention.com/ or one of its service providers cannot recognize, for technical compatibility purposes, the type of browser used by the terminal, the language and display settings or the country from which the terminal appears to be connected to the Internet.
Where applicable, https://www.lms-invention.com/ declines all responsibility for the consequences related to the degraded operation of the Site and services possibly offered by https://www.lms-invention.com/, resulting (i) from the refusal of Cookies by the User (ii) the impossibility for https://www.lms-invention.com/ to register or consult the Cookies necessary for their operation due to the choice of the User. For the management of Cookies and User choices, the configuration of each browser is different. It is described in the help menu of the browser, which will allow you to know how the User can modify his wishes in terms of Cookies.
At any time, the User can choose to express and modify his wishes in terms of Cookies. https://www.lms-invention.com/ may also use the services of external service providers to help it collect and process the information described in this section.
Finally, by clicking on the icons dedicated to the social networks Twitter, Facebook, Linkedin and Google Plus appearing on the Site of https://www.lms -invention.com/ or in its mobile application and if the User has accepted the deposit of cookies by continuing to browse the Website or the mobile application of https://www.lms-invention.com/, Twitter, Facebook, Linkedin and Google Plus may also place cookies on your devices (computer, tablet, mobile phone).
These types of cookies are only placed on your terminals if you consent to them, by continuing to browse the Website or the mobile application of https://www.lms-invention.com/. At any time, the User may nevertheless revoke his consent to https://www.lms-invention.com/ deposits this type of cookie.
    </p>
    <h3> 9.2. INTERNET TAGS</h3>
    <p>
        https://www.lms-invention.com/ may occasionally use web beacons (also known as "tags"). GIFs, one-pixel GIFs, clear GIFs, invisible GIFs, and one-to-one GIFs and deploy them through a specialist web analytics partner that may be found (and therefore store the corresponding information, including including the User's IP address) in a foreign country.
These tags are placed both in online advertisements allowing Internet users to access the Site, and on the various pages of the Site.
This technology allows https://www.lms-invention.com/ to evaluate visitors' responses to the Site and the effectiveness of its actions (for example, the number of times a page is opened and the information consulted), as well as the use of this Site by the User.
The external service provider may possibly collect information on visitors to the Site and other websites using these beacons, compile reports on the activity of the Site for the attention of https://www.lms-invention.com/, and provide other services relating to the use of it and the Internet.
    </p>
    <h2>10. Applicable law and attribution of jurisdiction.</h2>
    <p>
        Any dispute in connection with the use of the site https://www.lms-invention.com/ is subject to French law. . Except in cases where the law does not allow it, exclusive jurisdiction is given to the competent courts of MEKNES / MOROCCO
    </p>
</div>
</div>
</section>
<%- include('footer.ejs') %>
</body>