<!DOCTYPE html>
<head>
    <title>LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<%- include('navbar.ejs', { currentPage: '' }) %>
<section id="confident" class="section py-5 bg-white">
    <div class="container">
    <h1 style="text-align: center;font-weight: bold;">Termes et Conditions</h1><br><br>
    <div class="row-cols-1">
    <h2>Termes et Conditions d'Utilisation</h2><br>
    <p>Bienvenue sur le site web de LMS INVENTION. L'utilisation de ce site web est soumise à ces Termes et Conditions d'Utilisation. En accédant à ce site, vous acceptez de respecter ces termes et conditions, ainsi que toutes les lois et réglementations applicables. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser ce site.</p>

    <h2>Utilisation du Site</h2><br>

    <ul>
        <li>Vous acceptez de ne pas utiliser ce site à des fins illégales ou interdites par la loi.</li>
        <li>Vous acceptez de ne pas porter atteinte aux droits de propriété intellectuelle de LMS INVENTION ou de tiers en utilisant ce site.</li>
        <li>Vous acceptez de ne pas perturber, endommager ou nuire à la sécurité de ce site web.</li>
    </ul>

    <h2>Propriété Intellectuelle</h2><br>
    <ul>
        <li> Le contenu de ce site web, y compris, mais sans s'y limiter, le texte, les images, les logos, les vidéos, les graphiques et les éléments interactifs, est la propriété exclusive de LMS INVENTION ou de tiers autorisés.</li>
        <li>Vous ne pouvez pas utiliser, copier, reproduire ou distribuer ce contenu sans autorisation préalable.</li>
    </ul>


    <h2> Liens Vers des Sites Tiers</h2><br>
    <p>Ce site web peut contenir des liens vers des sites web tiers. LMS INVENTION n'a aucun contrôle sur ces sites et n'est pas responsable de leur contenu. L'utilisation de ces sites est soumise à leurs propres termes et conditions.</p>

    <h2> Limitation de Responsabilité</h2><br>
   <ul>
    <li> LMS INVENTION ne garantit pas l'exactitude, l'exhaustivité ou l'actualité des informations contenues sur ce site web.</li>
    <li> LMS INVENTION ne sera pas responsable de tout dommage direct, indirect, spécial, consécutif ou punitif résultant de l'utilisation ou de l'impossibilité d'utiliser ce site web.</li>
   </ul>

    <h2>Modification des Termes et Conditions</h2><br>
    <p>LMS INVENTION se réserve le droit de modifier ces Termes et Conditions d'Utilisation à tout moment, sans préavis. Les modifications seront publiées sur cette page.</p>
</div>
</div>
</section>
<%- include('footer.ejs') %>
</body>